__pycache__/
*.py[cod]
*.log
.DS_Store

.venv/
venv/
env/
.env
.env.*

.ipynb_checkpoints/

data/raw/*
!data/raw/.gitkeep
dados/
app/notebooks/dados_exportados/

.pytest_cache/
.mypy_cache/

.vscode/
.idea/
